<% layout("/layouts/boilerplate") %>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
  <%for(listings of allListings){%>
    <div class="card col">
      <div class="card" style="width: 20rem;">
        <a href="/listings/<%= listings.id %>">
            <img src="<%= listings.image.url%>" class="card-img-top" alt="Hotel Image" style="height:20rem">
            <div class="card-body">
              <p class="card-text">
                <b><%= listings.title %></b><br/>
                &#8377;<%= listings.price.toLocaleString("en-IN") %>/night
              </p>
            </div>
          </div>
        </a>
    </div>
  <% } %>.





</div>